<ul class="list-inline text-center">
    {% if site.twitter_username %}
    <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if site.linkedin_username %}
    <li>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if site.instagram_username %}
    <li>
        <a href="https://instagram.com/{{ site.instagram_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
    <li>
        <a href="https://www.vivino.com/users/miguelgamboa">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% if site.imdb_username %}
    <li>
        <a href="http://www.imdb.com/list/{{ site.imdb_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-film fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if site.citations_username %}
    <li>
        <a href="https://scholar.google.com/citations?hl=en&user={{ site.citations_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-university fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if site.github_username %}
    <li>
        <a href="https://github.com/{{ site.github_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if site.stackoverflow_username %}
    <li>
        <a href="http://stackoverflow.com/{{ site.stackoverflow_username }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}
</ul>